<%- include('partials/header') %>

<div class="container text-center">
  <h1 class="display-3">Welcome to the Secret Page</h1>
  <p class="secret-text">You have discovered the secret!</p>

  <% if (user.secret) { %>
    <p class="secret-text">Your secret: <%= user.secret %></p>
  <% } %> 


  <hr>
  
  <a class="btn btn-light btn-lg" href="/api/logout" role="button">Log Out</a>
  <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
</div>

<%- include('partials/footer') %>