<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Response</title>
    <link rel="stylesheet" href="/css/test.css">
</head>

<body>
    <%- include ('partials/header.ejs') %>
    
    <h1>Hello <%= name %></h1>
    <h2>The level of security of the request was <%= security %> </h2>


    <a href="/">Return to home</a>
    <a href="/home">Go to profile</a>
    <%- include ('partials/footer.ejs') %>
</body>

</html>